body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('https://www.holoplus.com/assets/images/cmn-bg-fixed.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 40px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #2196F3, #1A237E);
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border: none;
}

.race-image-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.raceImage {
  max-width: 100%;
  cursor: pointer;
}

button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.btn-primary {
  background-color: #4CAF50;
}

.btn-danger {
  background-color: #DC3545;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.lightbox img {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 2px solid darkgreen;
  border-radius: 20px;
  width: 100%;
  margin-top: 40px;
}

th {
  background-color: darkgreen;
  color: white;
  padding: 10px;
  max-width: 300px;
  word-wrap: break-word;
}

td {
  padding: 10px;
  background-color: white;
}

td img {
  max-width: 100px;
  border-radius: 100px;
}

@media (max-width: 767px) {
  .race-image-container {
    margin-bottom: 20px;
  }
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loading-overlay.active {
  display: block;
  opacity: 1;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}